.btn{
    color: gold;
}
.bottom-container{
    background-color: #666666;
    padding: 50px;
}
.contact-me{
    padding: 50px;
    background-color: #4d4d4d;
}
.div1{

    background-color: #1a1a1a;
    padding: 50px;
}

.downcloud{
    position: absolute;
    top: 70%;
    left: 20%;
}
.footer-link{
    color: gold;
}
.gif{
    width: 30%;
    float: left;
    margin-right: 30px;
}
hr {
    color: white;
    background-color: #333333;
    margin: 0 auto;
    border-top-style: dashed;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 5px;
    width: 80px;

}
.lazy{
    width: 30%;
    float: right;
    margin-left: 30px;
}
.main{
    position: absolute;
    top: 35%;
    left:40%;
    color: white;
    font-size: 150%;
    font-family: 'Pacifico', cursive;
}



.moon{
    position: absolute;
    left: 70%;
    top: 10%;

}

.middle-container{
    background-color: grey;
}

.pro{
    font-family: Arial, Helvetica, sans-serif;
}

.profile-image{
    width: 30%;
    border-radius: 300px;

}
.skills{
    background-color: #333333;
    padding: 50px;
    
}
.skill-row{
    width: 50%;
    margin: 80px auto;
    text-align: left;
}
.top-container{
    background-color: black;
    height: 620px;
    margin-top: 0px;
    
}

.upcloud{
    position: absolute;
    left: 72%;
    top: 14%
}

div{
    margin-top: 0px;
   
}

h1{
    margin-top: 0px;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}
h3{
    text-align: center;
    color: white;
}

body{
    margin:0;
}

p{
    text-align: center;
    color: white;
}

.BUTTON_EXS {
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #B5B8BF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #B5B8BF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #B5B8BF);
    background-image: -o-linear-gradient(top, #FFFFFF, #B5B8BF);
    background-image: -webkit-gradient(to bottom, #FFFFFF, #B5B8BF);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height:20px;

 }
 
 .BUTTON_EXS:hover {
    border: solid gold 1px;
    background: gold;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
